

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  height: 100vh;
}
h1{
  text-align: center;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  gap: 5px;
  padding: 20px;

}
.gallery img{
  width: 500px;
  height:350px;
  cursor: pointer;
  border-radius: 10px 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
  
}
.nature h3{
  text-align: center;
  margin-top: 5px;
}
.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-image {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
}

.caption {
  color: #fff;
  margin-top: 15px;
  font-size: 18px;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.nav {
  position: absolute;
  top: 50%;
  font-size: 30px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  user-select: none;
}

.prev {
  left: 50px;
}

.next {
  right: 50px;
}

.nav:hover {
  color: #ccc;
}