/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}
h1,h2{
  text-align: center;
  color:blue;
  margin-bottom: 20px;
}
.center h1{
  position:relative;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  color:black;
  font-size: 100;
  
}
/* Parallax background */
.parallax{
  background-image: url('../gallery/image/backgroung1.jpg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
}
.parallax2{
  background-image: url('../gallery/image/background.jpg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display:flex;
}
.parallax3{
  background-image: url('../gallery/image/background5.jpg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display:flex;
}
.parallax4{
  background-image: url('../gallery/image/background6.jpg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display:flex;
}
.parallax5{
  background-image: url('../gallery/image/bg.jpg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display:flex;
}

/* Content sections */
.content {
  padding: 60px;
  text-align: center;
  background-color: white;
}
.center-text{
  text-align: center;
  font-size: 50px;
  background-attachment: fixed;
  text-align: center;
  color:blueviolet;
  background-color:lightgrey;
}
